// 変数の定義開始
$tab: 768px;
$ssp: 400px;
// 変数の定義終了

// mixin開始
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin ssp {
  @media (max-width: ($ssp)) {
    @content;
  }
}
// mixin終了

// 社内のイメージ紹介開始
.room-info {
  background-color: #F8F7F7;
  padding: 50px 0;
}

.room-info-width {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.team-image {
  border-radius: 70px;
}

// 社内のイメージ紹介終了

// 社員紹介開始
.member-title-description-box {
  margin: 120px 0 50px;

  @include tab {
    margin: 60px 0 25px;
  }
}

.member-images-list {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h3.our-team-heading {
  font-size: 60px;

  @include tab {
    font-size: 40px;
  }

  @include ssp {
    font-size: 30px;
  }
}

.slider {
  padding-left: 0;
}

.slider img {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.social-icon a i {
  font-size: 30px;
  color: #c9c9c9;

  @include tab {
    font-size: 50px;
  }
}

h4 {
  margin-top: 10px;
}
// 社員紹介終了
